/*VARIANTS*/
:root {
    --fontsize-xlg: 48px;
    --fontsize-lg: 32px;
    --fontsize-md: 24px;
    --fontsize-sm: 17px;

    --lineheight-xlg: 54px;
    --lineheight-lg: 36px;
    --lineheight-md: 27px;
    --lineheight-sm: 19px;
    
    --highlight-color:#0c4da2;
}
.center_map {
    width: 100%;
    height: 500px;
    display: none;
}

/* BANNER */
.banner {
    background: url(../images/img_center_banner.png) no-repeat center/cover;
}

/* 지도 이미지 */
.map_img {
    position: relative;
}
.map_img img {
    width: 100%;
    height: 735px;
    object-fit: cover;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}
.map_img img.active {
    visibility: visible;
    opacity: 1;
}

/* TAB MENU */
.tab-wrapper {
    position: relative;
    margin-bottom: 150px;
}
.menu-wrapper {
    width: 100%;
    height: 735px;
    position: relative;
}
.tab-menu {
    position: absolute;
    display: flex;
    gap: 150px;
    bottom: 7%;
    left: 0; right: 0;
    justify-content: center;
}
.tab-menu li {
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    width: 152px;
    cursor: pointer;
}

/* .tab-menu li active 효과 */
.tab-menu li.active > div {
    border: 2px solid var(--highlight-color);
}
.tab-menu li.active .innerbox {
    background: var(--highlight-color);
}
.tab-menu li.active .innerbox a {
    color: #fff;
}
.tab-menu li:after {
    content: "";
    position: absolute;
    width: 75px;
    border: 2px solid #cfcfcf;
    top: 30%;
    left: 100%;
    transform: translate(50%, -100%);
}
.tab-menu li:last-child:after {
    display: none;
}
.tab-menu li > div {
    width: 75px;
    height: 75px;
    border: 2px solid #a9a9a9;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}
.tab-menu li .innerbox {
    width: 50px;
    height: 50px;
    background-color: #a9a9a9;
    text-align: center;
}
.tab-menu li div a {
    transform: rotate(-45deg);
    text-align: center;
    display: block;
    line-height: 75px;
    font-size: var(--fontsize-md);
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
}
.tab-menu li h3 {
    text-align: center;
    margin-top: 10px;
    font-size: var(--fontsize-md);
    font-weight: 400;
    color: #fff;
}

/* 사업장 LIST */
#tab-content > div {
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}
#tab-content > div.active {
    opacity: 1;
    visibility: visible;
}

.center_accordion li > div {
    padding: 30px;
    border-bottom: 1px solid #cfcfcf;
    box-sizing: border-box;
}
.center_accordion li .center_name {
    position: relative;

}
.center_accordion li h4 {
    font-size: var(--fontsize-lg);
    line-height: var(--lineheight-lg);
    margin-bottom: 15px;
    transition: 0.5s;
}
.center_accordion li p {
    font-size: var(--fontsize-sm);
    line-height: var(--lineheight-sm);
    font-weight: 400;
    color: #a9a9a9;
    margin-bottom: 5px;
    transition: 0.5s;
}
.center_accordion li p:last-child {
    margin-bottom: 0;
}
.center_accordion li i {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    transition: 0.5s;
}
/* .center_name active 효과 */
.center_name.active i {
    transform: rotate(180deg);
}
.center_name.active h4 {
    color: var(--highlight-color);
}
.center_name.active p {
    color: #333;
}


/* responsive */
@media screen and (max-width: 1420px) {
    .inner {
        width: 90.8vw;
    }
    :root {
        --fontsize-xlg: 32px;
        --fontsize-lg: 24px;
        --fontsize-md: 17px;
        --fontsize-sm: 16px;

        --lineheight-xlg: 40px;
        --lineheight-lg: 28px;
        --lineheight-md: 21px;
        --lineheight-sm: 20px;
    }
    .banner {
        height: 40vw;
    }
    .banner .title h2 {
        font-size: 48px;
        line-height: 56px;
    }
    .banner .page_info {
        bottom: 12%;
    }

    .map_img img,
    .menu-wrapper {
        width: 100%;
        height: 52vw;
    }
    .tab-menu{
        gap: 10vw;
    }
    .tab-menu li > div {
        width: 5.2vw;
        height: 5.2vw;
        margin-bottom: 1vw;
    }
    .tab-menu li .innerbox {
        width: 3.5vw;
        height: 3.5vw;
    }
    .tab-menu li div a{
        line-height: 5.2vw;
    }
    .tab-menu li:after{
        width: 5.3vw;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --fontsize-sm: 14px;
        --lineheight-sm: 18px;
    }
    .banner {
        height: 50vw;
    }
    .banner .title h2 {
        font-size: 32px;
        line-height: 40px;
    }
    .banner .page_info span {
        margin: 0 15px;
    }

    .tab-menu li > div {
        width: 7vw;
        height: 7vw;
        margin-bottom: 1vw;
    }
    .tab-menu li .innerbox {
        width: 5vw;
        height: 5vw;
    }
    .tab-menu li div a{
        line-height: 7vw;
    }
    .tab-menu{
        gap: 5vw;
    }
    .tab-menu li:after{
        display: none;
    }
    .center_accordion li > div{
        padding: 20px;
    }
    .center_accordion li i{
        right: 20px;
    }
}

@media screen and (max-width: 500px) {
    :root {
        --fontsize-md: 16px;
        --lineheight-md: 18px;
    }
    .banner {
        height: 250px;
    }
    .banner .title h2 {
        font-size: 32px;
        line-height: 38px;
    }
    .banner .page_info span {
        margin: 0 10px;
    }

    .tab-menu{
        gap: 2.5vw;
    }
    .tab-menu li > div{
        display: none;
    }
    .tab-menu li h3{
        margin-top: 0;
    }
    .tab-menu li:after{
        display: block;
        left: 0; right: 0;
        top: 120%;
        transform: translateX(-100%);
        width: 100%;
        border: 1px solid var(--highlight-color);
        transition: 0.3s;
        transform:scaleX(0);
    }
    .tab-menu li:hover:after{
        transform:scaleX(1);
    }
    .tab-menu li.active:after{
        transform:scaleX(1);
    }
    .tab-menu li:last-child:after {
        display: block;
    }

}
