@font-face {
  font-family: "pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url("../fonts/Pretendard-Bold.woff") format("woff"),
    url("../fonts/Pretendard-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard Medium"),
    url("../fonts/Pretendard-Medium.woff") format("woff"),
    url("../fonts/Pretendard-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url("../fonts/Pretendard-Regular.woff") format("woff"),
    url("../fonts/Pretendard-Regular.woff2") format("woff2");
}
body {
  font-family: pretendard, "sans-serif";
  font-weight: 400;
  background: #fff;
  color: #333;
}
::-webkit-scrollbar {
  display: none;
}
.s1 {
  font-size: 3.6458vw;
}

.s2 {
  font-size: 2.5vw;
}

.s3 {
  font-size: 32px;
}

.s4 {
  font-size: 24px;
}

.s5 {
  font-size: 16px;
}

.p-size-100 {
  font-size: 5.2083vw;
}
.p-size-150 {
  font-size: 7.8125vw;
}

.p-size-190 {
  font-size: 9.8958vw;
}

.p-size-200 {
  font-size: 10.4166vw;
}

.bold {
  font-weight: bold;
}
.cf::after {
  content: "";
  display: block;
  clear: both;
}

.ponint-color {
  color: #0c4da2;
}
.inner {
  max-width: 1420px;
  margin: 0 auto;
}
/*VARIANTS*/
:root {
  --fontsize-xlg: 48px;
  --fontsize-lg: 32px;
  --fontsize-md: 24px;
  --fontsize-sm: 17px;

  --lineheight-xlg: 54px;
  --lineheight-lg: 36px;
  --lineheight-md: 27px;
  --lineheight-sm: 19px;
}
/* HEADER */
html,
body {
  width: 100vw;
  height: 100%;
  margin: 0;
}
p {
  line-height: calc(100% * 1.31);
}

body {
  overflow-x: hidden;
  color: #333;
  /* background-color: #050505; */
}

.inner-2 {
  width: calc(100% - 6.25vw);
  margin: 0 auto;
  height: 100%;
}
.modal_info a{
  font-weight: 700;
}
header {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 999;
}
.close-btn {
  width: 45px;
  height: 45px;
  background: url(../images/close-btn.png);
  text-indent: -9999em;
  overflow: hidden;
}
.overlay-logo {
  color: #fff;
  padding: 30px 0;
}
.overlay-menu {
  width: 100%;
  height: 100%;
  background-color: #050505;
  position: fixed;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}
.overlay-menu.active {
  visibility: visible;
  opacity: 1;
}

.overlay-menu a {
  color: #6f6f6f;
}
.overlay-top {
  width: 100%;
  display: flex;
}
.overlay-top .inner-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overlay-top-right {
  display: flex;
}
.lang {
  display: flex;
  align-items: center;
}
.lang li::after {
  content: "|";
  margin: 0 15px;
  color: #6f6f6f;
}
.lang li:last-child::after {
  content: "";
  margin: 50px;
}
.lang li:first-child a {
  font-weight: bold;
  color: #fff;
  border-bottom: 1px solid #fff;
  margin-top: 5px;
}

.overlay-menu-list {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.overlay-menu-list > li {
  width: 11.4583vw;
  margin-right: 1.0416vw;
  font-weight: bold;
}
.overlay-menu-list > li > a {
  display: block;
  padding: 15px 0;
  border-bottom: 2px solid #6f6f6f;
  font-size: 24px;
  transition: all 0.3s;
}
.overlay-menu-list > li:hover a {
  color: #fff;
  border-bottom-color: #fff;
}
.overlay-menu-list > li:last-child {
  margin-right: 0;
}
.overlay-menu-sub-list li > a {
  transition: all 0.2s;
}
.overlay-menu-sub-list li > a:hover {
  color: #5394e9;
}
.overlay-menu-sub-list li > a:hover::after {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #5394e9;
  border-radius: 1px;
  margin: 0 0 8px 7px;
}
.overlay-menu-sub-list > li > a {
  padding: 20px 0;
  display: block;
  font-weight: 400;
}
.overlay-m-menu-list li > a {
  padding: 15px;
  display: block;
  font-weight: 400;
}
header .inner-2 .sub-title {
  padding-top: 0;
  text-align: left;
}
header .inner-2 .menu-icon {
  text-align: right;
  padding-top: 0;
}
header .inner-2 h1 {
  text-align: center;
}
/* header .menu_title > * {
  width: 30%;
} */
header .inner-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  padding: 36px 0;
  transition: top 0.2s ease-in-out;
  background: rgba(174, 174, 174, 0.2);
}
header h1 {
  vertical-align: middle;
  font-size: 32px;
  font-weight: 600;
}
.logo span {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 600;
}
header h1 > span {
  font-size: 16px;
}
.close-btn {
  width: 45px;
  height: 45px;
  background: url(../images/close-btn.png);
  text-indent: -9999em;
  overflow: hidden;
}
.nav-up {
  top: -100px;
}

.icon-menu {
    display: block;
    width: 40px;
    height: 36px;
    position: relative;
    cursor: pointer;
}
.icon-menu div {
    position: absolute;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    transition: width 0.2s ease 0.2s, -webkit-transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6);
    transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6), width 0.2s ease 0.2s;
    transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6), width 0.2s ease 0.2s, -webkit-transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6);
}
.icon-menu input {
    display: none;
}
.icon-menu input + div {
    top: 50%;
    left: 0;
    margin: -2px 0 0 0;
    width: 40px;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.icon-menu input + div + div {
    top: 2px;
    left: 0;
    width: 20px;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
}
.icon-menu input + div + div + div {
    bottom: 2px;
    right: 0;
    width: 28px;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: translate(-12px, 0);
    transform: translate(-12px, 0);
}
.icon-menu input:checked + div {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: -webkit-transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s;
    transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s;
    transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s, -webkit-transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s;
}
.icon-menu input:checked + div + div {
    width: 21px;
    -webkit-transform: translate(6px, 0) rotate(45deg);
    transform: translate(6px, 0) rotate(45deg);
    transition: width 0.2s ease, -webkit-transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s;
    transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s, width 0.2s ease;
    transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s, width 0.2s ease, -webkit-transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s;
}
.icon-menu input:checked + div + div + div {
    width: 21px;
    -webkit-transform: translate(-5px, 0) rotate(45deg);
    transform: translate(-5px, 0) rotate(45deg);
    transition: width 0.2s ease, -webkit-transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s;
    transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s, width 0.2s ease;
    transition: transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s, width 0.2s ease, -webkit-transform 0.45s cubic-bezier(0.9, -0.6, 0.3, 1.6) 0.1s;
}

/* 모바일 오버레이 */
.overlay-m {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #050505;
  opacity: 0;
  visibility: hidden;
}
.inner-m {
  margin: 0 auto;
}
.m-logo {
  font-size: 24px;
  font-weight: 400;
}
.m-logo a {
  color: #fff;
}
.m-logo span {
  font-weight: 700;
}
.overlay-m-t {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.overlay-m-menu-list > li > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.overlay-m-menu-list a {
  color: #fff;
}

.m-lang {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}

.m-lang li:first-child a {
  color: #fff;
  font-weight: 700;
  border-bottom: 2px solid #fff;
  padding-bottom: 2px;
}
.m-lang li::after {
  content: "|";
  margin: 0 10px;
}
.overlay-m-menu-list li > ul {
  background-color: #ededed;
  display: none;
}

.overlay-m-menu-list li > ul.on {
  height: inherit;
}
.overlay-m-menu-list li > ul a {
  color: #333;
  transition: all 0.3s;
}
.overlay-m-menu-list > li > a::after {
  width: 16px;
  height: 16px;
  content: "";
  display: block;
  background: url(../images/menu-arrow.png) no-repeat;
  transition: all 0.3s;
}
.overlay-m-menu-list > li > a.rotate::after {
  transform: rotate(180deg);
}
.overlay-m-menu-list > li > a {
  padding: 20px 20px;
  font-size: 20px;
  font-weight: 600;
}
.m-lang li:last-child::after {
  display: none;
}
.overlay-m-menu-list .none-arrow a::after {
  display: none;
}
.close-m-btn {
  border: 1px solid red;
  text-indent: -9999px;
  overflow: hidden;
  width: 44px;
  height: 44px;
}
/* BANNER */
.banner .inner {
  height: 100%;
  position: relative;
}
.banner {
  position: relative;
  background: url(../images/services.jpg) no-repeat center/cover;
  width: 100%;
  height: 550px;
}
.banner:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
}
.banner .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fafafa;
  width: 100%;
}
.banner .title h2 {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.banner .title p {
  font-size: var(--fontsize-md);
  line-height: var(--lineheight-md);
}
.banner .locate {
  font-size: var(--fontsize-sm);
  position: absolute;
  right: 0;
  bottom: 8.89vh;
  text-align: center;
  color: #a9a9a9;
  display: flex;
}
.title .sub_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.17em;
  flex-wrap: wrap;
}
.banner .locate span {
  margin: 0 20px;
}
.banner .locate .page_info {
  color: #fff;
}
/* FOOTER */
.footer {
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  /* margin-top: 30px; */
}

footer .menu_md li:last-child {
  font-weight: bold;
}

footer h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  margin-right: 20px;
}
footer .menu_md {
  display: flex;
}
footer .menu_md .menu {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
footer ul li {
  list-style: none;
}

footer hr {
  margin: 30px 0;
  background: #a9a9a9;
  height: 1px;
  border: 0;
  width: 100%;
}
footer .company_num {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
footer span {
  color: #a9a9a9;
} /*
footer ul span {
  margin: 0 10px;
} 

footer .company_num li span {
  margin: 0 10px;
  color: #333;
}*/
footer .company_num > span {
  margin: 0 20px;
}
footer .menu_md .menu li:after {
  content: "|";
  width: 1px;
  height: 17px;
  color: #333;
  margin: 0 10px;
}
footer .menu li:last-child:after {
  display: none;
}
footer .company_num li:after {
  content: "|";
  width: 1px;
  height: 17px;
  color: #333;
  margin: 0 10px;
}
footer .company_num .company_tt {
  margin-right: 20px;
}
footer .company_num li:last-child:after {
  display: none;
}
footer .company_num .company_tt:after {
  display: none;
}
footer .company_num li {
  text-transform: uppercase;
}
footer .company_tt {
  font-weight: bold;
  font-size: 20px;
}
footer .copyright {
  color: #a9a9a9;
  margin-top: 35px;
  font-weight: normal;
}
.company_info_wrap {
  display: flex;
  justify-content: space-between;
}
footer .sns_link {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .sns_link li a {
  width: 30px;
}
footer .sns_link li i {
  font-size: 30px;
}
footer .sns_link li:last-child img {
  height: 30px;
}
.familysite_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer .familysite {
  width: 220px;
  height: 50px;
  border: 1px solid #a9a9a9;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  color: #a9a9a9;
  padding-left: 10px;
  outline: none;
}
footer .familysite option {
  color: #333;
}
footer .copyright p {
  margin-bottom: 30px;
}
/* TOP Button */
#go-top {
  position: fixed;
  right: 3vw;
  bottom: 10%;
  width: 90px;
  height: 90px;
  box-sizing: content-box;
  z-index: 100;
  border-radius: 50%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fafafa;
  mix-blend-mode: difference;
}
#go-top .go-to-color {
  background: #0c4da2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  mix-blend-mode: difference;
  transform: scale(0%);
  transition: transform 1s;
}
#go-top:hover .go-to-color {
  color: #fafafa;
  mix-blend-mode: difference;
  transform: scale(100%);
}
#go-top > * {
  z-index: 200;
}

/* POPUP */
dialog {
  width: 420px;
  position: fixed;
  left: -50vw;
  top: 17.78vh;
  background: #fff;
  border: 7px solid transparent;
  border-radius: 5px;
  font-size: 14px;
  z-index: 100;
  border: 3px solid #0c4da2;
  padding: 20px 30px;
}
.modal_box .warning {
  font-size: 16px;
  line-height: 27px;
  padding-top: 15px;
}
.modal_box h1 {
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  color: #0c4da2;
}
.modal_box h2 {
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  font-weight: bold;
}
.modal_box h3 {
  padding-bottom: 15px;
}
.modal_box hr {
  border: none;
  border-bottom: 1px solid #0c4da2;
}
.modal_box p {
  margin: 10px 0 10px;
}
.modal_info_part > strong {
  margin: 10px 0 10px;
}
.modal_box strong {
  font-weight: bold;
}
.modal_box button {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
  cursor: pointer;
  border: none;
  background: #fff;
}
.popup_check {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  align-items: center;
}
@media screen and (max-width: 1420px) {
  .inner {
    width: 90.8vw;
  }
  :root {
    --fontsize-xlg: 32px;
    --fontsize-lg: 24px;
    --fontsize-md: 17px;
    --fontsize-sm: 16px;
  }
  .banner {
    height: 40vw;
  }
  .banner .title h2 {
    font-size: 40px;
  }
  .banner .locate {
    bottom: 12%;
  }
  #go-top {
    right: 1vw;
  }
}
@media screen and (max-width: 1340px) {
  footer .menu_md ul {
    flex-wrap: nowrap;
  }
  footer ul span {
    margin: 0 10px;
  }
}
@media screen and (max-width: 1023px) {
  header {
    padding: 20px 0;
  }
  header h1 {
    font-size: 4vw;
  }
  header .inner-2 p:first-child {
    display: none;
  }
  footer .menu_md .menu {
    font-size: 17px;
  }
  footer h1 {
    display: none;
  }
  .footer {
    display: block;
  }
  footer .menu_md .menu {
    width: 56.138vw;
    flex-wrap: wrap;
  }
  footer .menu_md ul {
    line-height: 30px;
  }
  footer .company_info {
    flex-direction: column;
    align-items: flex-start;
  }
  footer ul {
    flex-wrap: nowrap;
  }
  footer ul .none {
    display: none;
  }
  footer .menu_md {
    flex-wrap: wrap;
    justify-content: center;
    font-size: 15px;
  }
  footer .company_info {
    font-size: 15px;
  }
  footer hr {
    margin: 15px 0 20px;
  }
  footer .company_num > span {
    margin: 0 10px;
  }
  footer .copyright {
    margin-top: 20px;
  }
  footer ul span {
    margin: 0px 8px;
  }
  footer .menu_md .menu {
    width: 100%;
    justify-content: space-between;
  }
  footer .menu_md .menu li {
    width: 22%;
  }
  footer .menu_md .menu span {
    display: none;
  }
  footer .menu_md .menu li:after {
    display: none;
  }
  dialog {
    left: -35vw;
    top: 12.78vh;
  }
}
@media screen and (max-width: 795px) {
  footer .menu_md .menu li {
    width: 24%;
  }
}
@media screen and (max-width: 768px) {
  :root {
    --fontsize-xlg: 4vw;
    --fontsize-lg: 3vw;
    --fontsize-md: 17px;
    --fontsize-sm: 14px;
  }
  header {
    padding: 15px 0;
  }
  .banner {
    height: 50vw;
  }
  .banner .title h2 {
    font-size: 32px;
  }
  .banner .locate span {
    margin: 0 15px;
  }
  .banner .locate {
    margin-right: 10px;
  }
  .banner .title h2 {
    margin-bottom: 0;
  }
  footer .menu_md .menu {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 12px;
    justify-items: center;
  }
  footer .menu span {
    display: none;
  }

  footer .menu_md .menu li {
    width: 100%;
  }

  .company_info_wrap {
    flex-direction: column-reverse;
  }
  .familysite_wrap {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .familysite_wrap .familysite {
    width: 50vw;
  }
  .footer .s5 {
    font-size: 12px;
  }
  footer .copyright {
    margin-top: 10px;
  }
  footer .company_tt {
    font-size: 16px;
  }
  dialog {
    right: -35vw;
  }
}
@media screen and (max-width: 500px) {
  :root {
    --fontsize-xlg: 4vw;
    --fontsize-lg: 3vw;
    --fontsize-md: 17px;
    --fontsize-sm: 14px;
  }
  .banner {
    height: 60vw;
  }
  .banner .title h2 {
    font-size: 32px;
  }
  .banner .locate span {
    margin: 0 10px;
  }
  footer .menu li:nth-child(1) {
    margin-right: 0;
  }
  .footer {
    margin: 0 auto;
  }
  footer .sns_link {
    gap: 5px;
  }
  dialog {
    width: 68%;
    right: -19vw;
  }
  #go-top {
    width: 50px;
    height: 50px;
    font-size: var(--fontsize-sm);
  }
}
