/*BANNER*/
header .inner-2 p,
header .inner-2 a {
  color: #fff;
}

.banner {
  position: relative;
  background: url(../images/overview.jpg) no-repeat center/cover;
  width: 100%;
}
img {
  width: 100%;
}
/* FOOTET */
footer {
  background: #fff;
}
.title_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1.17em;
  color: #d4d4d4;
}
h4.active {
  font-weight: bold;
}
.main_title p:first-child {
  margin-right: 0.25em;
}
.main_t_wrap .main_t1 {
  margin-right: 0.3em;
}
.sub_title p:first-child {
  margin-right: 5px;
}
/* ABOUT US*/
#about_us {
  position: relative;
  width: 100%;
  text-align: center;
  /* height: 55.55vh; */
  background: #000;
}
#about_us h2 {
  text-align: center;
  padding: 15.416vh 0;
  color: #fff;
  font-weight: bold;
}
.about_wrap {
  position: fixed;
  /* background: url(../images/about_wrap.svg) no-repeat center/cover; */
  background: url(../images/about_wrap_wide.svg) no-repeat center/cover;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 470px;
  /* background-attachment: fixed; */
}

.about_sm p {
  position: relative;
  color: #d4d4d4;
  line-height: 2em;
  /* width: 90%; */
  margin: 0 30px;
}
.about_wrap:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
}
.about_wrap > p {
  line-height: 1.176em;
  position: relative;
  color: #d4d4d4;
}
#about_us .gradient_tt {
  position: relative;
  text-align: center;
  /* width: 13.22vw; */
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  background: linear-gradient(90deg, #007dc6 27.43%, #00a651 80.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0 auto;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}
.about_tt {
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 15px;
  color: #fff;
  position: relative;
}
.about_tt p:first-child {
  padding-bottom: 0.125em;
}
.icon-menu div {
  background: #333;
}
/* OVERVIEW */
#overview {
  width: 100%;
  background: url(../images/기업개요\ BG.svg) no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}
#overview .gradient_tt {
  position: relative;
  width: 7.2rem;
  margin-right: 13.02vw;
  top: 0;
  margin-bottom: 15px;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  background: linear-gradient(to right, #007dc6 27.43%, #00a651 80.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

#overview table {
  width: 700px;
  border-top: 2px solid #ffffff;
  color: #fafafa;
  border-collapse: collapse;
  margin-right: 13.02vw;
}
table caption {
  text-align: left;
  margin-bottom: 5.55vh;
  font-weight: bold;
}
th,
td {
  padding: 3.33vh 1.56vw;
  border-bottom: 1px solid #a9a9a9;
}
th {
  font-weight: bold;
  border-right: 1px solid #565656;
}
.overview_wrap {
  margin: 22.22vh 0;
}
/* VISION */
#vision {
  margin-bottom: 150px;
  width: 100%;
  background: url(../images/vision_BG.svg) no-repeat center/cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5.55vh 2.604vw;
}
.goal_vision_wrap {
  width: 35.67vw;
  position: relative;
  margin-top: 15.33vh;
  padding-bottom: 80px;
}
#vision:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  opacity: 0.8;
}
/* .goal_vision img {
  overflow: hidden;
} */
.goal_vision {
  display: flex;
  gap: 9vh 4.69vw;
  height: 130px;
}
.goal_vision .s3 {
  color: #fff;
  font-weight: bold;
}
.goal_vision > p {
  width: 21.5vw;
  color: #d4d4d4;
}
.goal_vision .goal_tt,
.goal_vision .vision_tt {
  margin-top: 10px;
  line-height: 25px;
}
.goal_vision p + p {
  color: #d4d4d4;
  width: 18.23vw;
  height: 9.11vh;
  margin-bottom: 5.55vh;
}
.goal_vision_wrap .gradient_tt {
  color: #5394e9;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1.66vh;
}
.goal_vision_wrap img {
  width: 100%;
  margin-top: 50px;
  /* width: 35.67vw; */
}
.goal,
.vision {
  display: flex;
  flex-direction: column;
}

.inner {
  max-width: 1420px;
  margin: 0 auto;
}

body {
  background-color: #050505;
}
.p-size-150 {
  font-weight: 700;
  color: #fff;
}
.gaeyo h3 {
  color: #fff;
  position: relative;
  margin: 80px 0 10.4166vw 0;
  font-size: 32px;
  font-weight: 700;
}
.gaeyo h3 .gradient_tt {
  position: absolute;
  left: 0;
  top: -25px;
  /* width: 13.22vw; */
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2em;
  background: linear-gradient(90deg, #007dc6 27.43%, #00a651 80.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0 auto;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.item-modal {
  position: absolute;
  left: 0%;
  top: 0%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  display: none;
  z-index: 3;
}
.item-modal-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.galaxy-item-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.galaxy-item {
  margin-bottom: 11.9791vw;
  position: relative;
}
.galaxy-item > p {
  width: 50px;
  height: 50px;
}
.galaxy-item figure {
  transition: transform 0.3s;
}
.galaxy-item:hover figure {
  transform: translateY(-10px);
}
.r-item {
  display: flex;
  flex-direction: column;
  align-items: end;
  transform: translateY(-14.2291vw);
}
.modal-btn {
  position: absolute;
  transition: transform 0.3s;
  z-index: 2;
}
.modal-btn a {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-btn:hover {
  transform: rotate(45deg);
}
.modal-btn a i {
  font-size: 27px;
  line-height: 0;
}
.item-txt {
  background-color: #a9a9a9;
  padding: 36px;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
}
.item-modal-wrap {
  width: 31.25vw;
  height: 20vw;
}
figure {
  width: 100%;
}

.item-txt-top {
  display: flex;
  justify-content: space-between;
}
.item-txt-top p {
  font-size: 24px;
}
.l-item-txt p:nth-of-type(2) {
  font-size: 16px;
}

.modal-01 img {
  width: 12.5vw;
  height: 9.375vw;
}
.modal-02 img {
  width: 17.8854vw;
  height: 12.5vw;
}
.modal-03 img {
  width: 16.302vw;
  height: 12.5vw;
}
.modal-04 img {
  width: 12.5vw;
  height: 12.5vw;
}
.modal-05 img {
  width: 12.5vw;
  height: 12.5vw;
}
.modal-06 img {
  width: 12.5vw;
  height: 7.031vw;
}
.modal-07 img {
  width: 12.5vw;
  height: 8.3333vw;
}
.item-txt-01 {
  background-color: #ffdede;
}
.item-txt-02 {
  background-color: #eff4ff;
}
.item-txt-03 {
  background-color: #020c1c;
  color: #fff;
}
.item-txt-03 a {
  color: #fff;
}
.item-txt-04 {
  background-color: #2b2b2b;
  color: #fff;
}
.item-txt-04 a {
  color: #fff;
}
.item-txt-05 {
  background-color: #faefff;
}
.item-txt-06 {
  background-color: #d5f2d4;
}
.item-txt-07 {
  background-color: #dee1ff;
}
.modal-close {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #666;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  right: 24px;
  top: 24px;
}
.modal-close:hover {
  background-color: #333;
}
.modal-close span {
  display: block;
  width: 24px;
  height: 24px;
  background: url(../images/close-btn.png) no-repeat 100% 100% / cover;
}
.modal-more-btn {
  border: 1px solid;
  text-align: center;
  margin-top: 40px;
  display: inline-block;
  border-radius: 10px;
  width: 240px;
  margin: 40px auto 0 auto;
}
.modal-more-btn a {
  padding: 18px 0;
  display: block;
}

.item-txt-top p {
  margin: 0;
  font-weight: 600;
}

@media screen and (max-width: 1420px) {
  :root {
    --fontsize-xlg: 32px;
    --fontsize-lg: 24px;
    --fontsize-md: 17px;
    --fontsize-sm: 16px;
  }
  .inner {
    width: 90.8vw;
  }
  .banner .locate {
    bottom: 12%;
  }
}
@media (max-width: 1370px) {
  .goal_vision {
    gap: 20px;
  }
  .goal_vision p + p {
    width: 380px;
    margin-bottom: 50px;
  }
}
@media (max-width: 1130px) {
  .goal_vision {
    height: 150px;
  }
}
@media (max-width: 1023px) {
  .goal_vision_wrap {
    width: 100%;
  }
  .about_sm p {
    position: relative;
    color: #d4d4d4;
    /* width: 80%; */
    /* white-space: nowrap; */
    /* margin: 0 15%; */
  }
  .goal_img,
  .vision_img {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .goal_vision_wrap {
    padding: 0 30px;
    box-sizing: border-box;
  }
  .goal_vision > p {
    width: 26.2vw;
  }
  .goal_tt {
    padding-top: 20px;
  }
  .vision_tt {
    padding-top: 10px;
  }
  #overview table {
    margin-right: 50px;
    width: 60.458vw;
  }
  /*  */
  .goal_vision .goal_tt {
    margin-top: 0px;
  }
  #about_us h2 {
    padding: 50px 0;
  }

  #overview table {
    width: 52.458vw;
    margin-right: 60px;
  }
  #vision {
    flex-direction: column;
    /* height: 90vh; */
    box-sizing: border-box;
    align-items: center;
  }

  .goal_vision {
    flex-direction: column;
    height: 230px;
  }
  .goal_vision_wrap {
    width: 90.8vw;
    position: relative;
    margin-top: 0;
    display: flex;
    gap: 20px;
  }
  .goal_vision_wrap:first-child {
    flex-direction: row-reverse;
    padding-top: 30px;
  }
  .goal_vision_wrap:last-child {
    padding-bottom: 20px;
  }
  .goal_vision > p {
    width: 85%;
    height: 95px;
  }
  .goal_vision_wrap img {
    width: 44.068vw;
    /* height: 173px; */
    margin: auto 0;
  }
  .goal_vision p + p {
    width: 100%;
    margin-top: 60px;
  }
  .goal_vision .s3 {
    padding-top: 0;
  }
  .item-modal-wrap {
    width: auto;
  }
}
@media (max-width: 870px) {
  .goal_vision_wrap {
    width: 100%;
  }
  .about_sm p {
    margin: 0 15%;
  }
}
@media screen and (max-width: 800px) {
  .goal_img,
  .vision_img {
    margin-top: 45px;
  }
}
@media screen and (max-width: 767px) {
  .title_info {
    flex-direction: column;
  }

  #about_us h2 {
    padding: 50px 0;
  }
  .s3 {
    font-size: 17px;
  }

  #overview table {
    width: 380px;
    margin-right: 40px;
  }
  .overview_wrap {
    margin: 60px 0;
  }
  th,
  td {
    padding: 7px;
  }
  #vision {
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
  }

  .goal_vision {
    flex-direction: column;
    height: 230px;
  }
  .goal_vision_wrap {
    position: relative;
    margin-top: 0;
    display: flex;
    gap: 20px;
  }
  .goal_vision_wrap:first-child {
    flex-direction: row-reverse;
  }
  .goal_vision > p {
    width: 100%;
    height: 95px;
  }
  .goal_vision_wrap img {
    width: 44.068vw;
    /* height: 173px; */
    margin: auto 0;
  }
  .goal_vision p + p {
    width: 100%;
    margin-top: 60px;
  }
  .goal_vision .s3 {
    padding-top: 0;
  }
  /**/
  #vision {
    justify-content: flex-start;
    gap: 0;
  }
  .goal_vision {
    height: 130px;
    margin-top: 40px;
  }
  .goal_vision > p {
    width: 90%;
  }
  .goal_vision_wrap {
    flex-wrap: wrap;
  }
  .goal_vision_wrap img {
    width: 100%;
  }
  .goal_vision_wrap:last-child img {
    bottom: -10%;
  }
  .goal_img,
  .vision_img {
    margin-top: 20px;
  }
  .about_sm p {
    margin: 0 10%;
  }
  .title .sub_title {
    margin-top: 10px;
  }
  .goal_vision_wrap {
    justify-content: center;
  }
  /*추가*/
  .modal-btn a {
    width: 34px;
    height: 34px;
  }
  .r-item {
    transform: translateY(-33.2291vw);
  }
  .galaxy-item > p {
    width: 34px;
    height: 34px;
  }
  .item-txt {
    height: auto;
  }

  .item-txt-top {
    display: block;
  }
  .l-item-txt p:nth-of-type(2) {
    display: none;
  }
  .l-item-txt p {
    font-size: 16px;
  }
  .modal-close {
    width: 30px;
    height: 30px;
  }
  .item-modal-wrap {
    width: auto;
    padding: 30px;
  }
  .item-txt {
    padding: 20px;
  }
  .item-txt-top p:nth-child(1) {
    margin-bottom: 0;
  }
  .item-txt-top p {
    font-size: 20px;
    font-weight: 600;
  }
  .modal-more-btn {
    display: block;
    position: inherit;
    left: 0;
    transform: translateX(0);
    width: auto;
    /* margin-top: 20px; */
  }
  .modal-more-btn a {
    padding: 10px 30px;
  }
  .item-modal {
    width: 100%;
  }
  .modal-close {
    right: 15px;
    top: 15px;
  }
  .modal-01 img {
    width: 22.5vw;
    height: 19.375vw;
  }
  .modal-02 img {
    width: 21.8854vw;
    height: 22.5vw;
  }
  .modal-03 img {
    width: 26.302vw;
    height: 31.5vw;
  }
  .modal-04 img {
    width: 22.5vw;
    height: 22.5vw;
  }
  .modal-05 img {
    width: 22.5vw;
    height: 22.5vw;
  }
  .modal-06 img {
    width: 22.5vw;
    height: 14.031vw;
  }
  .modal-07 img {
    width: 22.5vw;
    height: 15.3333vw;
  }
}
@media screen and (max-width: 560px) {
  #overview table {
    width: 96%;
  }
  table caption {
    margin-bottom: 20px;
  }
  #vision {
    padding: 0 5.35vw;
    gap: 0;
  }
  .goal_vision p {
    padding-top: 10px;
  }
  .goal_vision .goal_vision_wrap {
    position: relative;
  }
  .goal_vision_wrap:first-child img {
    position: relative;
    bottom: -3%;
  }
  .goal_vision_wrap:last-child img {
    position: relative;
    bottom: -20%;
  }
  .goal_vision_wrap:last-child {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .goal_vision {
    gap: 0;
  }
}
@media screen and (max-width: 500px) {
  .title_info {
    margin-top: 0.5em;
  }
  .main_title h1 {
    font-size: 24px;
  }
  .s3 {
    font-size: 24px;
  }
  .banner .page_info {
    bottom: 1.53vh;
  }
  #overview {
    height: 375px;
  }

  .goal_vision {
    height: 100px;
    margin-top: 40px;
  }
  .goal_vision_wrap {
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
  .goal_vision_wrap img {
    width: 100%;
  }
  .goal_vision_wrap:last-child img {
    bottom: -10%;
  }
  .goal_img {
    margin-top: 60px;
  }
  .vision_img {
    margin-top: 100px;
  }
  .title .sub_title {
    margin-top: 10px;
  }
  #about_us {
    height: 500px;
  }
  .about_sm p {
    line-height: 1.5em;
  }
  .about_wrap {
    justify-content: flex-start;
  }
  #about_us .gradient_tt {
    padding-top: 20px;
  }
}

::-webkit-scrollbar {
  display: none;
}
