@media screen and (max-width: 1420px) {
    .inner {
        width: 90.8vw;
    }
    :root {
        --fontsize-xlg: 32px;
        --fontsize-lg: 24px;
        --fontsize-md: 17px;
        --fontsize-sm: 16px;

        --lineheight-xlg: 40px;
        --lineheight-lg: 28px;
        --lineheight-md: 21px;
        --lineheight-sm: 20px;
    }
    .banner{
        height: 40vw;
    }
    .banner .title h2 {
        font-size: 48px;
        line-height: 56px;
    }
    .banner .locate{
        bottom: 12%;
    }

    .newsletter_desc{
        margin-bottom: 4vw;
    }
    .slide-wrapper{
        height: 42vw;
        margin-bottom: 8vw;
    }
    .slide-container > li .contents {
        height: 30vw;
    }
    #tab-content section .article_list li{
        margin-bottom: 2vw;
    }

    .article_title h4{
        gap: 0;
    }
    .article_title h3{
        font-size: 24px;
        line-height: 32px;
    }
    

    #tab-content section .article_title{
        height: 15vw;
    }
    #tab-content section .article_content article{
        margin: 3.5vw 2.5vw;
        gap: 4.5vw;
    }
    #tab-content section .article_content img{
        width: 35vw; height: 24vw;
    }
    #tab-content section .article_content .article_text h3{
        margin: 1.2vw 0 2.4vw;
    }
    #tab-content section .article_content .article_text h4{
        display: none;
    }
    #tab-content section .article_content .article_text p:before {
        left: -25px;
        top: 4px;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --fontsize-sm: 14px;
        --lineheight-sm: 18px;
    }
    .banner{
        height: 50vw;
    }
    .banner .title h2 {
        font-size: 32px;
        line-height: 40px;
    }
    .banner .locate span {
        margin: 0 15px;
    }

    .newsletter_desc{
        align-items: center;
        gap: 15px;
    }
    #tab-content section .article_list li{
        margin-bottom: 3vw;
    }
    .newsletter_title {
        align-items: flex-end;
        flex-wrap:wrap;
        gap: 15px;
    }
    .newsletter_title p{
        padding-left: 0;
    }
    .newsletter_title p:before{
        display: none;
    }
    .slide-wrapper{
        height: 90vw;
    }
    .slide-container > li .contents {
        height: 70vw;
        grid-template-columns: 5px 3fr 20fr 2fr 5px;
        grid-template-rows: 25fr 10fr 8fr 0.5fr;
    }
    .slide-container > li .contents .img {
        grid-column: 2/4;
        grid-row: 1/3;
        filter: none;
    }
    .slide-container > li .contents .desc{
        grid-column: 3/6;
        grid-row: 2/4;
        z-index: 10;
        grid-template-rows: 8fr 18fr 6fr 1fr 3fr;
        grid-template-columns: 0.5fr 5fr 3.5fr 0.5fr;
        box-shadow: none;
    }
    .slide-container > li .contents .desc .read_more{
        display: none;
    }
    .slide-wrapper .navigator{
        width: 50%;
    }
    #tab-content section .article_content article{
        margin: 3vw 2vw;
        gap: 4vw;
    }
    #tab-content section .article_content .article_text h3{
        display: none;
    }
    #tab-content section .article_title {
        height: 20vw;
    }
    #tab-content section .article_content .article_text p{
        margin-top: 1.2vw;
        margin-bottom: 0;
    }
    #tab-content section .article_content .article_text p:before {
        left: -20px;
        top: 2.5px;
    }
    #tab-content section .article_content .article_text a{
        bottom: 0;
    }

    .article_title h3{
        font-size: 17px;
        line-height: 21px;
    }

    .pagination {
        display: none;
    }
    .load-more {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .banner{
        height: 250px;
    }
    .banner .title h2 {
        font-size: 32px;
        line-height: 38px;
    }
    .banner .locate span {
        margin: 0 10px;
    }

    .slide-container > li .contents .img{
        grid-column: 2/-2;
    }
    .slide-container > li .contents .desc{
        grid-column: 2/-2;
        grid-row: 3/4;
        display: block;
    }
    .slide-container > li .contents .desc .slide_title{
        gap: 0;
        padding: 5px 15px;
    }
    .slide-wrapper .navigator{
        width: 80%;
        right: 50%;
        transform: translateX(50%);
    }
    .slide-wrapper .navigator .controler{
        justify-content: center;
    }
    .slide-container > li .contents .desc .slide_title h4{
        font-size: 16px;
    }
    .slide-container > li .contents .desc .slide_title h3{
        font-size: 21px;
    }
    .tab-wrapper .tab-menu{
        justify-content: center;
        margin-bottom: 21px;
    }
    #tab-content section .article_content .article_text > p + p{
        display: none;
    }
    .load-more{
        margin: 70px auto;
    }
} 
