.s3 {
  /* font-size: 2em; */
  font-size: 32px;
  /* font-size: 1.6666vw; */
}
body > hr {
  border: 0px;
  height: 1px;
  background: #a9a9a9;
}
header .inner-2 p,
header .inner-2 a {
  color: #333;
}
header .inner-2 .sub-title {
  padding-top: 0;
  text-align: left;
}
header .inner-2 .menu-icon {
  text-align: right;
  padding-top: 0;
}
header .inner-2 h1 {
  text-align: center;
}
.icon-menu div {
  background: #333;
}
p.sub-title {
  color: #333;
}
.menu_title .logo a {
  color: #333;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
form .inq_customer_info label,
.input_wrap label {
  display: none;
}
.service_form h2 {
  text-align: center;
  font-weight: bold;
  font-size: 48px;
}
h4 {
  font-weight: bold;
  width: 12.5vw;
  margin-top: 0.5em; /* 16px */
}
h4:last-child {
  margin: 0;
}
input[type="checkbox"] {
  cursor: pointer;
}
input,
textarea,
#nation_lang {
  border: 1px solid #a9a9a9;
  border-radius: 5px;
}
.inq_content textarea {
  resize: none;
  width: 60.416vw;
  height: 48.61vh;
}
.service_inq_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.78vw;
  margin: 27.77vh 0 18.4162vh;
}
.service_inq_title img {
  width: 45px;
  height: 45px;
  fill: #333;
}
.inq_title .input_wrap {
  height: 70px;
}
.inq_customer_info {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.inq_customer_info h4 {
  display: inline-block;
}
.inq_customer_info_f {
  gap: 20px;
}

.inq_customer_info_f input {
  width: 100%;
  height: 70px;
}
.inq_customer_info_f input:focus,
.inq_title input:focus,
.inq_content textarea:focus {
  border: #0c4da2 2px solid;
}
.inq_title,
.inq_content,
.inq_language_tab,
.inq_check {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.inq_title h4 {
  margin-top: 0;
}
.inq_title .required_mark:after h4 {
  content: "*";
  color: red;
  display: inline;
}
.inq_language_tab {
  margin-bottom: 30px;
  align-items: center;
}
.inq_customer_info_f [class^="required_mark"] {
  width: 29.16vw;
  height: 70px;
  padding: 0;
}
.inq_content {
  margin: 25px 0;
  height: 48.612vh;
}
.inq_title #title {
  width: 100%;
  height: 100%;
}
.inq_content #textbox {
  width: 100%;
  height: 48.612vh;
  padding: 25px; /* 1.24vw; */
}
.inq_language_tab h4,
.inq_check h4 {
  margin-top: 0;
}

.inq_language_tab #nation_lang {
  width: 300px;
  height: 7.17vh;
  color: #333;
  cursor: pointer;
}
#nation_lang::placeholder {
  margin-right: 20px;
}
.inq_title {
  margin-top: 20px;
  align-items: center;
}
.inq_check {
  margin-bottom: 9.763vh;
}
.inq_separation1 {
  margin: 6.11vh 0;
}
.service_form p {
  text-align: center;
  padding-top: 3.08vh;
  color: #a9a9a9;
}
button {
  display: inline-block;
  text-align: center;
}
#submit_btn {
  width: 280px;
  height: 60px;
  color: #0c4da2;
  border: 1px solid #0c4da2;
  background: #fff;
  display: block;
  margin: 8.22vh auto 15.22vh;
  text-align: center;
  padding: 0;
  cursor: pointer;
}
.inq_check {
  align-items: center;
}
#submit_btn:hover {
  background: #0c4da2;
  color: #fff;
  font-weight: bold;
}
:focus {
  outline: none;
}

input {
  padding-left: 25px;
  box-sizing: border-box;
}

.required_mark {
  position: relative;
}
.required_mark i {
  position: absolute;
  left: 12px;
  top: 36px;
  transform: translateY(-50%);
  /* line-height: 9vh; */
  color: #ff4141;
  font-size: 10px;
}
.inq_title .required_mark {
  position: relative;
}
.inq_title .required_mark i {
  font-size: 13px;
  top: 0;
  left: 4.56rem; /* 3.802vw; 73px */
}

.inq_content .required_mark i {
  font-size: 13px;
  top: 16px;
  left: 4.56rem; /* 3.802vw; 73px */
}

.required_mark input:focus i {
  display: none;
}

input:focus-within i {
  display: none;
}
.inq_check input {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.inq_check .inq_check_news {
  display: flex;
  align-items: center;
}
.inq_check_news label {
  cursor: pointer;
}
.required {
  text-align-last: left;
  padding: 0;
  margin-bottom: 20px;
}
#nation_lang {
  padding-left: 20px;
}
input[type="checkbox"] {
  accent-color: #0c4da2;
}
input.warning,
.inq_content #textbox.warning {
  border: 1px solid red !important;
}
input.warning::placeholder,
.inq_content #textbox.warning::placeholder {
  color: red;
  font-style: italic;
}
::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 1160px) {
}
@media screen and (max-width: 1023px) {
  .s3 {
    font-size: 24px;
  }
  .service_form h2 {
    font-size: 40px;
  }
  .inq_content .required_mark i {
    /* font-size: 1.25rem; */
    top: 18px;
    left: 6.862vw;
  }
  .inq_title .required_mark i {
    /* font-size: 1.25em; */
    top: 1.88em;
    left: 6.862vw;
  }
  .inq_customer_info .s3,
  .inq_title .s3 {
    margin-top: 20px;
  }
  .service_inq_title {
    margin: 16.11vh 0 10.4162vh;
  }
  .inq_separation1 {
    margin: 8.11vh 0 6.11vh;
  }
  .inq_language_tab #nation_lang {
    width: 29.41vw;
  }
  #submit_btn {
    width: 220px;
    height: 50px;
  }
  .s3 {
    font-size: 3vw;
  }
  [class^="required_mark"] {
    height: 50px;
  }
  .inq_language_tab h4 {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .s3 {
    font-size: 24px;
    width: 100%;
  }
  .inq_customer_info .s3,
  .inq_title .s3 {
    margin-top: 10px;
  }
  .inq_separation1 {
    margin: 30px 0 10px;
  }
  .service_form p {
    width: 78.2vw;
    margin: 0 auto;
    padding-top: 0;
  }
  h4 {
    margin-bottom: 0;
  }
  .service_form h2 {
    font-size: 32px;
  }
  .inq_customer_info,
  .inq_title,
  .inq_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .inq_customer_info h4 {
    width: 100%;
  }
  .inq_customer_info_f {
    gap: 10px;
  }
  textarea {
    width: 100%;

    margin-top: 22px;
    display: block;
  }
  .inq_title .input_wrap {
    width: 100%;
  }
  .inq_content .input_wrap {
    width: 100%;
  }
  .inq_content {
    height: 390px;
  }
  .inq_language_tab,
  .inq_check {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
  .inq_language_tab h4,
  .inq_check h4 {
    margin-top: 0;
  }
  .inq_customer_info_f input:focus,
  .input_wrap input:focus {
    border: 2px solid #0c4da2;
  }

  .inq_check {
    margin-bottom: 30px;
  }
  .inq_title .required_mark i,
  .inq_content .required_mark i {
    /* font-size: 1.25rem; */
    top: 10px;
    right: 0;
  }
  .inq_content {
    height: 360px;
  }
  .inq_customer_info .s3,
  .inq_title .s3 {
    margin: 10px 0;
  }
  .inq_customer_info_f [class^="required_mark"] {
    width: 100%;
    height: 70px;
  }
  .service_inq_title img {
    width: 30px;
    height: 30px;
    fill: #333;
  }
  /* 디자인수정 */
  .inq_customer_info_f [class^="required_mark"] {
    width: 100%;
  }
  .inq_title #title {
    height: 70px;
  }
  .inq_content #textbox {
    height: 300px;
  }
  .service_inq_title {
    margin: 13.11vh 0 6.4162vh;
  }
}
@media screen and (max-width: 500px) {
  .inq_content {
    height: 360px;
  }
  .inq_language_tab,
  .inq_check {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .inq_language_tab #nation_lang {
    width: 100%;
    height: 55px;
  }
  .service_info_anw p:last-child {
    margin-top: 0;
  }
  .inq_title .required_mark i,
  .inq_content .required_mark i {
    left: 45px;
  }
  .service_form p {
    width: 95%;
  }
}
